############################
# Compiled files
############################
*.class

############################
# Maven
############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

############################
# Logs
############################
*.log
logs/

############################
# Spring Boot
############################
*.jar
*.war
*.zip
*.tar.gz

############################
# VS Code
############################
.vscode/
.history/

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Environment files
############################
.env
.env.*
application-local.properties
application-dev.properties

############################
# Docker
############################
docker-compose.override.yml

############################
# Kafka local data (se mapear volume)
############################
kafka-data/
zookeeper-data/
